* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}



#card {
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-right: 60px;
    width: 700px;
    height: 500px;
    background-color: lightpink;
    flex-direction: column;
}


#image-section{
    height: 200px;
    width: 700px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.div1{
    height: 200px;
    width: 200px;
    background-color: #fff;
}

.div2{
    height: 200px;
    width: 200px;
    background-color: #fff;
}.div3{
    height: 200px;
    width: 200px;
    background-color: #fff;
}