* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

.maincontainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.heading {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.content {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.actor {
    width: 350px;
    height: 420px;
    background-color: red;
    border-radius: 50%;
    margin-right: 20px;
}

.singer {
    width: 350px;
    height: 420px;
    background-color: blue;
    border-radius: 50%;
    margin-right: 20px;
}

.dancer {
    width: 350px;
    height: 420px;
    background-color: green;
    border-radius: 50%;
    margin-right: 20px;
}

.artist {
    width: 350px;
    height: 420px;
    background-color: yellow;
    border-radius: 50%;
    margin-right: 20px;
}